/*  BACK BUTTON */
.back_button_wrapper {
    padding: 10px;
}

.back_button {
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    border: 2px solid black;
    padding: 10px;
    margin: 5px;
    width: 200px;
    height: 60px;
}

.back_button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

/* ADD FOLDER BUTTON */

.add_folder_button {
    display: flex;
    justify-content: center;
    border: 2px solid black;
    margin: 5px;
    margin-left: 15px;
    margin-top: 50px;
    padding: 20px;
    width: 190px;
    font-size: 22px;
    font-weight: bold;
}

.selected, .selected:visited, .add_folder_button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

/* FOLDER */

.folder {
    display: flex;
    justify-content: center;
    border: 2px solid black;
    margin: 5px;
    padding: 15px;
    width: 200px;
    font-size: 22px;
    font-weight: bold;
}

.folder_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    list-style-position:inside;
    padding: 10px;
}

.folder:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.folderSelectButton {
    background: transparent;
    border: none;
}
