.header_container {
    height: 250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid black;
}

.header_linked_title {
    margin: 0 auto;
    font-size: 50px;
}

/* unvisited link */
a:link {
    text-decoration: none;
    color: black;
}
  
  /* visited link */
a:visited {
    text-decoration: none;
    color: black;
}
  
  /* mouse over link */
a:hover {
    text-decoration: none;
    color: black;
}
  
  /* selected link */
a:active {
    text-decoration: none;
    color: black;
}
