ul {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
  list-style-position:inside;
}

/* NOTE */
.note_container_li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin: 15px;
  margin-right: 10px;
  border: 2px solid black;
}

.note_container_li:hover {
  box-shadow: -8px -8px 0px 0px black;
}

.note_title-and-date-wrapper {
  display: flex;
  flex-direction: column;
}

.note_modified_date {
  font-size: 20px;
}

.note_content_container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.note_content {
  padding: 25px;
}

.note_title:hover {
  background-color: black;
  color: white;
}

/*  DELETE AND EDIT NOTE BUTTONS */
.note_delete_edit_button-wrapper {
  display: flex;
  align-items: flex-end;
  width: 275px;
}

.delete_note_button, .edit_note_button {
  border: 2px solid black;
  font-size: 16px;
  width: 125px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  padding: 15px;
  cursor: pointer;
}

.delete_note_button:hover, .edit_note_button:hover {
  background-color: black;
  color: white;
}

/* ADD AND EDIT NOTE AND FOLDER BUTTONS */
.add_note_button, .edit_folder_button, .delete_folder_button {
  display: flex;
  justify-content: center;
  border: 2px solid black;
  margin: 5px;
  padding: 20px;
  width: 190px;
  font-size: 22px;
  font-weight: bold;
}
.delete_folder_button {
  width: 234px;
}
.add_note_edit_folder_container {
  display: flex;
  margin-left: 15px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.selected, .selected:visited, .add_note_button:hover, .edit_folder_button:hover, .delete_folder_button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

/* ADD FOLDER AND NOTE FORM STYLES */
.form_wrapper_note, .form_wrapper_folder  {
  margin: 0 auto;
  margin-top: 15px;
  border: 2px solid black;
  width: 555px;
  height: 325px;
}

.form_wrapper_note {
  height: 475px;
}

.add_form {
  display: flex;
  flex-direction: column;
}

.form_legend {
  font-size: 40px;
  text-align: center;
  font-weight: normal;
}

.input_group_wrapper {
  margin-left: 35px;
}

.input_label {
  font-weight: bold;
  padding-right: 10px;
  font-size: 18px;
}


.name_input_note, .name_input_folder {
  height: 25px;
  width: 200px;
  padding: 10px;
  font-size: 16px;
  color: black;
}

.name_input_note {
  width: 370px;
}

.content_input {
  padding: 10px;
  font-size: 16px;
  margin-top: 20px;
}

.folder_input_label {
  margin-right: 40px;
  font-weight: bold;
  font-size: 18px;
}

.input_group_select_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.folder_input {
  margin-top: 20px;
  width: 390px;
  height: 30px;
}

::placeholder {
  color: gray;
}

.form_button_wrapper {
  margin: 0 auto;
  padding-top: 20px;
}

.form_button {
  border: 2px solid black;
  margin: 10px;
  width: 175px;
  height: 50px;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.form_button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.folderHeaderWrapper {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.folderTitleBorder {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  padding: 15px;
  margin: 10px;
  min-width: 225px;
  min-height: 50px;
  color: black;
  font-size: 22px;
  font-weight: bold;
} 

.folderTitle {
  padding-left: 20px;
  padding-right: 20px;
}

.folderButtonsHolder {
  margin-left: 10px;
  display: flex;
  justify-content: center;
}

.noNoteWrapper {
  display: flex;
  margin: auto;
}
 